/*------------- Apply Font to Whole Document---------------- */
  
  .title {
  margin-top: 1.50em !important;
  margin-bottom: 0.75em;
}
  
    @import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
    
.top-text {
  position: relative;
  font-size: 24px;
  padding-bottom: 0.5em
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no top text */
    color: #4e5a7a;
}

.bottom-text {
  position: relative;
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no bottom text */
    color: #4e5a7a;
    margin-bottom: 2.5rem;
  font-weight: bold;
}


h1.title{ 
    color: #4e5a7a;
    font-family: 'Lora', serif;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

h4.author{ 
    color: #4e5a7a;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

h4.date{ 
    color: #4e5a7a;;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

h2{ 
    font-size: 19px;
    color: #2a272a;
    font-weight: bold;
}

p{
  text-align: justify;
  font-size: 14px;
  font-family: 'Lora', serif;
  color: #5b6370;
}



/*------------Table of Contents (TOC)----------- */

/*----------TOC Sticky Fix---------*/


.main-container > .row:first-child > div:first-child.col-xs-12.col-sm-4.col-md-3{
  position: sticky;
  top: 10px;
}

#TOC{ 
  position: initial;
  width: 100%;
  font-size: 14px;
}

/*----------TOC Sticky Adjustment---------*/

.tocify ul, .tocify li { /* Increases spacing between TOC headers*/
    line-height: 20px !important;
}

.tocify ul {
  border-right: solid 1px #eee; /* Thin right border on TOC list */
}



/* Active TOC links*/

.list-group-item.active, 
.list-group-item.active:hover{
  color: #4e5a7a;
  background-color: #eceaf3;
  font-family: 'Lora', serif;
  border-color: #ccc;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}

/* Hovered TOC links*/

.list-group-item:hover { 
  color: #4e5a7a;
  background-color: #eceaf3;
  font-family: 'Lora', serif;
  border: none;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}


/*----------------- links ---------------------*/

a { 
  color: #4e89bf;
}


a:hover {
    color: #396892; /* darker color when hovering */
}

.ReactTable .rt-table
{ 
    margin-left: auto;
    margin-right: auto;
}

